.footer {
  position: relative;
  iframe {
    height: 50vh;
    margin-bottom: -6px;
  }
}
.footer__wrapper {
  padding: 50px 62px 56px 58px;
  max-width: 460px;
  width: 100%;
  background: #c70101;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  position: absolute;
  left: 50%;
  top: 0%;
  transform: translateX(-50%);
}
.footer__tel {
  color: #ffffff;
  font-weight: bold;
}

.footer__socials {
  margin-top: 36px;
  display: flex;
  justify-content: center;
  gap: 27px;
}

.footer__socials-link {
  border: 2px solid #fff;
  border-radius: 50%;
  width: 52px;
  height: 52px;
  align-items: center;
  justify-content: center;
  display: flex;
  transition: 0.3s;
  svg path {
    transition: 0.3s;
  }
  &:hover {
    background: #fff;
    svg path {
      fill: #c70101;
    }
  }
}
