@media (max-width: 1024px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
  .slider__pagination {
    display: flex;
  }
}

@media (max-width: 950px) {
  .btn_buy {
    font-size: 14px;
    padding: 10px 20px;
  }

  .benefits__item {
    gap: 30px;
  }
}

@media (max-width: 800px) {
  .catalog__tab-pane {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 720px) {
  .logo {
    max-width: 180px;
  }
  .header__official {
    font-size: 14px;
  }
  .header__tel {
    font-size: 14px;
  }
  .btn {
    padding: 5px 12px;
  }
  .promo__title {
    font-size: 26px;
  }
  .promo__subtitle {
    font-size: 18px;
  }

  .consultation__title {
    font-size: 24px;
  }

  .form {
    width: 270px;
  }

  .form__input {
    padding: 10px 18px;
  }

  .btn_big {
    font-size: 16px;
    padding: 10px 30px;
  }

  .catalog__tab {
    font-size: 14px;
  }

  .catalog__tabs li {
    width: 165px;
  }

  .reviews {
    padding: 25px 0;
  }
  .reviews__item {
    gap: 25px;
  }

  .reviews__item-img {
    width: 50%;
  }
  .footer__wrapper {
    padding: 20px 25px;
    max-width: 360px;
  }
}

@media (max-width: 560px) {
  .header__official {
    display: none;
  }
}

@media (max-width: 450px) {
  .header__tel {
    font-size: 12px;
  }
  .btn {
    padding: 5px 8px;
    font-size: 11px;
    &_big {
      font-size: 12px;
      padding: 8px 21px;
    }
  }
  .logo {
    max-width: 160px;
  }
  .promo__title {
    font-size: 20px;
  }

  .promo__subtitle {
    font-size: 14px;
  }

  .benefits__title {
    font-size: 24px;
  }

  .benefits__items {
    gap: 43px;
    margin-top: 50px;
  }

  .catalog__tabs li {
    width: 136px;
  }

  .consultation__title {
    font-size: 22px;
  }

  .consultation__text {
    font-size: 16px;
  }

  .reviews__title {
    font-size: 24px;
  }

  .reviews__item {
    flex-direction: column;
  }

  .reviews__item-name {
    text-align: center;
  }

  .reviews__item-quantity {
    text-align: center;
  }

  .promo__item {
    width: 82px;
  }

  .promo__link {
    font-size: 16px;
  }

  .footer__wrapper {
    padding: 10px 20px;
    max-width: 280px;
  }

  .catalog {
    padding: 20px 0;
  }
  .catalog__tab {
    font-size: 11px;
    height: 35px;
  }
  .catalog__tab.active {
    margin-left: -8px;
  }
  .footer__wrapper {
    padding: 10px 20px;
    max-width: 200px;
  }
  .footer__tel,
  .footer__address {
    font-size: 14px;
  }
  .footer__socials {
    margin-top: 20px;
  }

  .footer__socials-link {
    width: 35px;
    height: 35px;
  }

  .modal_consultation.active {
    max-width: 265px;
    padding: 20px 30px 28px;
  }

  .modal__title {
    font-size: 15px;
  }

  .modal__descr {
    font-size: 13px;
  }

  .form {
    width: 200px;
  }

  .footer {
    iframe {
      height: 70vh;
    }
  }
}
