<section class="benefits">
  <div class="container">
    <h2 class="benefits__title">Наши преимущества</h2>
    <div class="benefits__items">
      <div class="benefits__item">
        <img src="img/benefits/cup.png" alt="" class="benefits__item-img" />
        <h4 class="benefits__item-title">Делимся опытом</h4>
        <p class="benefits__item-text">
          Наши сотрудники всегда готовы поделиться своим опытом, так как сами
          бегают марафоны, переплыли Босфор, готовятся к соревнованиям по
          треатлону
        </p>
      </div>
      <div class="benefits__item">
        <img src="img/benefits/heart.png" alt="" class="benefits__item-img" />
        <h3 class="benefits__item-title">Заботимся о здоровье</h3>
        <p class="benefits__item-text">
          Мы работаем для того, чтобы Ваши занятия спортом шли на пользу Вашему
          здоровью и были в радость Вам и Вашим родным!
        </p>
      </div>
      <div class="benefits__item">
        <img src="img/benefits/shoe.png" alt="" class="benefits__item-img" />
        <h3 class="benefits__item-title">Учим бегать</h3>
        <p class="benefits__item-text">
          Помогаем с обучением правильной технике бега! Дружим с крупнешней
          школой бега <span> I love running </span>
        </p>
      </div>
    </div>
  </div>
</section>
