<section class="catalog">
  <div class="container">
    <ul class="catalog__tabs">
      <li><span data-tab="1" class="catalog__tab active">Для фитнеса</span></li>
      <li><span data-tab="2" class="catalog__tab">Для бега</span></li>
      <li><span data-tab="3" class="catalog__tab">Для триатлона</span></li>
    </ul>
    <div class="catalog__content">
      <div data-tab-pane="1" class="catalog__tab-pane active">
        <div class="catalog__item">
          <img
            src="img/catalog/catalog_photo1.png"
            alt=""
            class="catalog__item-img"
          />
          <h3 class="catalog__item-title">Пульсометр Polar FT1</h3>
          <p class="catalog__item-descr">
            Для первых шагов в тренировках, основанных на сердечном ритме
          </p>
          <a href="" class="catalog__item-more">подробнее</a>
          <div class="catalog__item-footer">
            <div class="catalog__item-price">
              <s>1950 грн</s>
              <p>1750 грн</p>
            </div>
            <button class="btn btn_order">купить</button>
          </div>
        </div>
        <div class="catalog__item">
          <img
            src="img/catalog/catalog_photo2.png"
            alt=""
            class="catalog__item-img"
          />
          <h3 class="catalog__item-title">Пульсометр Polar FT1</h3>
          <p class="catalog__item-descr">
            Для первых шагов в тренировках, основанных на сердечном ритме
          </p>
          <a href="" class="catalog__item-more">подробнее</a>
          <div class="catalog__item-footer">
            <div class="catalog__item-price">
              <s>1950 грн</s>
              <p>1750 грн</p>
            </div>
            <button class="btn btn_order">купить</button>
          </div>
        </div>
        <div class="catalog__item">
          <img
            src="img/catalog/catalog_photo3.png"
            alt=""
            class="catalog__item-img"
          />
          <h3 class="catalog__item-title">Пульсометр Polar FT1</h3>
          <p class="catalog__item-descr">
            Для первых шагов в тренировках, основанных на сердечном ритме
          </p>
          <a href="" class="catalog__item-more">подробнее</a>
          <div class="catalog__item-footer">
            <div class="catalog__item-price">
              <s>1950 грн</s>
              <p>1750 грн</p>
            </div>
            <button class="btn btn_order">купить</button>
          </div>
        </div>
      </div>
      <div data-tab-pane="2" class="catalog__tab-pane">
        <div class="catalog__item">
          <img
            src="img/catalog/catalog_photo1.png"
            alt=""
            class="catalog__item-img"
          />
          <h3 class="catalog__item-title">Пульсометр Polar FT1</h3>
          <p class="catalog__item-descr">
            Для первых шагов в тренировках, основанных на сердечном ритме
          </p>
          <a href="" class="catalog__item-more">подробнее</a>
          <div class="catalog__item-footer">
            <div class="catalog__item-price">
              <s>1950 грн</s>
              <p>1750 грн</p>
            </div>
            <button class="btn">купить</button>
          </div>
        </div>
        <div class="catalog__item">
          <img
            src="img/catalog/catalog_photo1.png"
            alt=""
            class="catalog__item-img"
          />
          <h3 class="catalog__item-title">Пульсометр Polar FT1</h3>
          <p class="catalog__item-descr">
            Для первых шагов в тренировках, основанных на сердечном ритме
          </p>
          <a href="" class="catalog__item-more">подробнее</a>
          <div class="catalog__item-footer">
            <div class="catalog__item-price">
              <s>1950 грн</s>
              <p>1750 грн</p>
            </div>
            <button class="btn">купить</button>
          </div>
        </div>
      </div>
      <div data-tab-pane="3" class="catalog__tab-pane">
        <div class="catalog__item">
          <img
            src="img/catalog/catalog_photo1.png"
            alt=""
            class="catalog__item-img"
          />
          <h3 class="catalog__item-title">Пульсометр Polar FT1</h3>
          <p class="catalog__item-descr">
            Для первых шагов в тренировках, основанных на сердечном ритме
          </p>
          <a href="" class="catalog__item-more">подробнее</a>
          <div class="catalog__item-footer">
            <div class="catalog__item-price">
              <s>1950 грн</s>
              <p>1750 грн</p>
            </div>
            <button class="btn">купить</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
