<section class="consultation">
  <div class="container">
    <h2 class="consultation__title">
      Получите бесплатную консультацию по подбору пульсометра
    </h2>
    <p class="consultation__text">
      Просто заполните форму заявки и мы перезвоним вам в течении 10 минут
    </p>
    <form action="#" class="form" method="post">
      <input
        type="text"
        name="user_name"
        class="form__input"
        placeholder="Ваше имя"
        required
        minlength="2"
        maxlength="20"
      />

      <input
        type="tel"
        name="user_telephone"
        class="form__input"
        placeholder="Ваш телефон"
        required
      />

      <input
        type="email"
        name="user_mail"
        class="form__input"
        placeholder="Ваш E-mail"
        required
      />
      <button class="btn btn_big">заказать консультацию</button>
    </form>
  </div>
</section>
