<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <a href="" class="logo"
        ><img src="img/promo/running-man.png" alt="run" class="logo__img"
      /></a>
      <p class="header__official">
        Официальный представитель
        <span>Garmin, Polar, Suunto</span>
      </p>
      <div class="header__contact">
        <a href="tel:+74999228974" class="header__tel">+7 (499) 922-89-74 </a>
        <button class="btn btn_consultation">заказать звонок</button>
      </div>
    </div>
  </div>
</header>
