<div class="overlay">
  <div class="modal modal_consultation">
    <div class="modal__close">&times;</div>
    <h3 class="modal__title">Просто заполните форму заявки</h3>
    <p class="modal__descr">и мы перезвоним вам в течении 10 минут</p>
    <form action="#" class="form" method="post">
      <input
        type="text"
        name="user_name"
        class="form__input"
        placeholder="Ваше имя"
        required
        minlength="2"
        maxlength="20"
      />

      <input
        type="tel"
        name="user_telephone"
        class="form__input"
        placeholder="Ваш телефон"
        required
      />

      <input
        type="email"
        name="user_mail"
        class="form__input"
        placeholder="Ваш E-mail"
        required
      />
      <button class="btn btn_big">заказать консультацию</button>
    </form>
  </div>
  <div class="modal modal_order">
    <div class="modal__close">&times;</div>
    <h3 class="modal__title">Ваш заказ:</h3>
    <p class="modal__descr">Пульсометр Polar FT1</p>
    <form action="#" class="form" method="post">
      <input
        type="text"
        name="user_name"
        class="form__input"
        placeholder="Ваше имя"
        required
        minlength="2"
        maxlength="20"
      />

      <input
        type="tel"
        name="user_telephone"
        class="form__input"
        placeholder="Ваш телефон"
        required
      />

      <input
        type="email"
        name="user_mail"
        class="form__input"
        placeholder="Ваш E-mail"
        required
      />
      <button class="btn btn_big">купить</button>
    </form>
  </div>
  <div class="modal modal_thanks">
    <div class="modal__close">&times;</div>
    <h3 class="modal__title">Спасибо за вашу заявку!</h3>
    <p class="modal__descr">Наш менеджер свяжется с вами в ближайшее время!</p>
  </div>
</div>
