<section class="reviews">
  <div class="container">
    <h2 class="reviews__title">отзывы клиентов</h2>
    <div class="reviews__wrapper">
      <div class="reviews__item">
        <img src="img/reviews/reviews1.png" alt="" class="reviews__item-img" />
        <div class="reviews__item-description">
          <h3 class="reviews__item-name">Ирина Иванченко</h3>
          <h4 class="reviews__item-quantity">2 полумарафона</h4>
          <p class="reviews__item-text">
            Не знала, что себе купить - обратилась к ребятам из RunSmart -
            подобрали пульсометр, который подошёл именно под мои цели и
            финансовые возможности. Через некоторое время решила обновить гаджет
            - не раздумывая обратилась туда же.
            <br />
            Новые цели - новый гаджет!
            <br />
            Спасибо, RunSmart!
          </p>
        </div>
      </div>
      <div class="reviews__item">
        <img src="img/reviews/reviews2.png" alt="" class="reviews__item-img" />
        <div class="reviews__item-description">
          <h3 class="reviews__item-name">Иван Сёмочкин</h3>
          <h4 class="reviews__item-quantity">1 марафон</h4>
          <p class="reviews__item-text">
            Не знала, что себе купить - обратилась к ребятам из RunSmart -
            подобрали пульсометр, который подошёл именно под мои цели и
            финансовые возможности. Через некоторое время решила обновить гаджет
            - не раздумывая обратилась туда же. <br />
            Новые цели - новый гаджет!
            <br />
            Спасибо, RunSmart!
          </p>
        </div>
      </div>
      <div class="reviews__item">
        <img src="img/reviews/reviews3.png" alt="" class="reviews__item-img" />
        <div class="reviews__item-description">
          <h3 class="reviews__item-name">Юлия Дашкина</h3>
          <h4 class="reviews__item-quantity">2 полумарафона</h4>
          <p class="reviews__item-text">
            Не знала, что себе купить - обратилась к ребятам из RunSmart -
            подобрали пульсометр, который подошёл именно под мои цели и
            финансовые возможности. Через некоторое время решила обновить гаджет
            - не раздумывая обратилась туда же. <br />
            Новые цели - новый гаджет!
            <br />
            Спасибо, RunSmart!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
