<div class="slider">
  <div class="container">
    <div class="swiper slider__wrapper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="img/slider/slider1.jpg" class="slider__img" alt="" />
        </div>
        <div class="swiper-slide">
          <img src="img/slider/slider2.jpg" class="slider__img" alt="" />
        </div>
        <div class="swiper-slide">
          <img src="img/slider/slider3.jpg" class="slider__img" alt="" />
        </div>
      </div>
    </div>
    <div class="swiper-button-prev slider__button-prev">
      <img src="icons/slider/left.png" alt="" />
    </div>
    <div class="swiper-button-next slider__button-next">
      <img src="icons/slider/right.png" alt="" />
    </div>
    <div class="swiper-pagination slider__pagination"></div>
  </div>
</div>
